.UserInput {
    width: 20%;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 2px 3px #ccc;
    margin: 16px auto;
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.UserInput label {
    font-size: 24px;
    font-weight: bold;
    margin: 16px;
}

.UserInput input {
    font-size: 24px;
    margin: 16px;
    text-align: center;
    border: 1px solid #ccc;
}