.UserOutput {
    width: 20%;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 2px 3px #ccc;
    margin: 16px auto;
    padding: 16px;
    text-align: center;
}

.UserOutput p {
    font-size: 36px;
    font-weight: bold;
}